{% extends 'base.html' %}
    {% block body %}
    <h1 class='text-center'>About Us</h1>
     <div class="container">
        <ul>
            <li>  FOUNDERS : ABHISHEK AMAN </li>
            <li>  COMPANY : ABCART</li>
        </ul>
        <h3>Why This Company Started ??</h3>
        <p>As we know after covid-19 digitalisation in india is growing rampant,and more people are connecting to the internet , so to provide easyness to the people i started this company ............</p>
     </div>
      
        
    {% endblock body %}
